.gif-img {
    border-width: 5px;
    border-style: solid;
    border-color: #4db6ac;
    padding: 5px;
}
.collection {
    border-bottom-color: #4db6ac;
    border-style: solid;
    border-width: 5px;
}

.item-logged {
    font-size: medium;
}